In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.precision", 20)
import logging, sys, math
from importlib import reload
import matplotlib.pyplot as plt
%matplotlib auto
import seaborn as sns
sns.set(style="darkgrid")

Using matplotlib backend: Qt5Agg

In [2]:
df = pd.read_csv(
            'C:/earthquake/test/seg_00a37e.csv', 
            dtype = {'acoustic_data': np.int16, 'time_to_failure':np.float64 } 
        )

In [13]:
if sys.modules.get( 'library', False ) != False :
    del sys.modules['library'] 
    
if sys.modules.get( 'library.OneStatsGeneratorForTestPos', False ) != False :
    del sys.modules['library.OneStatsGeneratorForTestPos'] 
if sys.modules.get( 'OneStatsGeneratorForTestPos', False ) != False :
    del sys.modules['OneStatsGeneratorForTestPos'] 
from library.OneStatsGeneratorForTestPos import *  
logging.warning( "OneStatsGeneratorForTestPos loaded" )

generator = OneStatsGeneratorForTestPos()

ModuleNotFoundError: No module named 'library.OneStatsGeneratorForTestPos'

In [4]:
df.shape

(150000, 1)

In [5]:
df.head()

   acoustic_data
0             -2
1              1
2              6
3              7
4              8

In [6]:
len(df) / 4096

36.62109375

In [7]:
type(df.acoustic_data.values)

numpy.ndarray

In [11]:
df[149000:149000+4096]

        acoustic_data
149000              0
149001              3
149002              1
149003              1
149004              4
149005              6
149006              0
149007             -2
149008              7
149009              7
149010              9
149011              9
149012              8
149013              3
149014              5
149015              5
149016              1
149017              4
149018              9
149019              7
149020              6
149021              4
149022              2
149023              2
149024              4
149025              3
149026              0
149027              3
149028              2
149029              5
...               ...
149970              6
149971              4
149972              8
149973              9
149974              7
149975              7
149976              5
149977              8
149978              1
149979              2
149980              5
149981              1
149982              0
149983              2
149984              6
149985              3
149986              4
149987              8
149988              8
149989              9
149990              1
149991              6
149992              3
149993             -1
149994             -1
149995              2
149996             -1
149997             -1
149998              4
149999              5

[1000 rows x 1 columns]

In [12]:
df.acoustic_data.abs()

0          2
1          1
2          6
3          7
4          8
5          6
6         12
7         10
8          8
9          8
10         0
11         2
12         2
13         2
14         6
15         5
16         5
17         5
18         1
19         6
20         4
21         3
22         2
23         9
24         8
25         7
26         6
27         1
28         9
29        12
          ..
149970     6
149971     4
149972     8
149973     9
149974     7
149975     7
149976     5
149977     8
149978     1
149979     2
149980     5
149981     1
149982     0
149983     2
149984     6
149985     3
149986     4
149987     8
149988     8
149989     9
149990     1
149991     6
149992     3
149993     1
149994     1
149995     2
149996     1
149997     1
149998     4
149999     5
Name: acoustic_data, Length: 150000, dtype: int16